 <div class="column">
  <div class="card">
    <div class="card-content">
      <div class="card-media">
        <div class="media">
          <div class="media-left">
            <% if animal.photo.attached? %>
              <figure class="image">
                <picture>
                  <source type="image/webp" srcset="<%= url_for(animal.optimised_photo(format: :webp)) %> 1.5x">
                  <source type="image/jpeg" srcset="<%= url_for(animal.optimised_photo(format: :jpeg)) %> 1.5x">
                  <img src="<%= url_for(animal.optimised_photo(format: :jpeg)) %>" loading="lazy" alt="" height="300">
                </picture>
              </figure>
            <% end %>
          </div>
          <div class="media-content">
            <p class="title is-4">
              <%= link_to animal.name, "#" %>
            </p>
            <p class="subtitle is-6">
              <%= animal.description %>
            </p>
              <p>
              <%= animal.common_name %>
            </p>
            <p>
              <%= animal.scientific_name %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <%= link_to "Edit", edit_dashboard_animal_path(animal), class: "card-footer-item" %>
    </footer>
  </div>
</div>
