<!DOCTYPE html>
<html>
  <head>
    <title>Animal Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "dashboard", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "dashboard", "data-turbo-track": "reload" %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <%= render partial: "shared/dashboard_nav" %>
    <main class="container">
      <%= render partial: "shared/dashboard_flash" %>
      <%= render partial: "shared/dashboard_heading" %>

      <%= yield %>
    </main>
  </body>
</html>
