<!DOCTYPE html>
<html>
  <head>
    <title>Animal Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <meta name="cache" content="<%= asset_path "dashboard.css" %>" data-turbo-track="reload">
    <meta name="cache" content="<%= asset_pack_path "dashboard.js" %>" data-turbo-track="reload">
    <meta name="notification_permission" content="<%= current_user.allows_notifications? %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "dashboard", media: "all", data: {"turbo-track": "reload"} %>
    <%= javascript_pack_tag "dashboard", data: {"turbo-track": "reload"} %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <%= render partial: "shared/dashboard_nav" %>
    <main class="container">
      <%= render partial: "shared/dashboard_flash" %>
      <%= render partial: "shared/dashboard_heading" %>
      <input type="checkbox" id="notification_check">
      <%= yield %>
    </main>
  </body>
</html>
